/* .AnimalCard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    
  }

  .animalLink {
    display: block; /* Make links block-level so grid can layout them correctly */
    /* text-decoration: none; Optional: remove underline */
    /* color: inherit; Optional: inherit text color 
  } */