.BasicInfo {
    border: 1px;
    width: 400px;
    padding: 2rem 4rem;
    padding-bottom: 1rem;
    border-radius: 5px;
}

.BasicInfo h2 {
    border-bottom: 3px solid var(--primary);
    margin-top: 0;
    padding: 0;
    /* font-family:  'Segoe UI', sans-serif; */
    letter-spacing: 1px;
}

@media (max-width: 550px) {
    .BasicInfo {
        width: 300px;
    }
}

.BasicInfo ul {
    list-style: none;
    padding: 0;
}

.BasicInfo li {
    padding: .3rem 0;
}

.BasicInfo span {
    font-weight: 600;
}

.outline {
    margin-left: 5px;
    padding: .3rem 1rem;
    border: 2px solid;
    border-radius: 20px;
}

@media (max-width: 867px) {
    .BasicInfo {
        padding: 1rem 2rem;
        width: 300px;
    }
}