.BasicInfo {
    border: 1px ;
    width: 350px;
    padding: 2rem;
    border-radius: 5px;
    justify-self: center;
}

.BasicInfo h2{
    border-bottom: 3px solid var(--primary);
    margin-top: 0;
    padding: 0;
    font-family:  'Segoe UI', sans-serif;
    letter-spacing: 0px;
}

.BasicInfo ul {
    list-style: none;
    padding: 0;
}

.BasicInfo li {
    padding: .3rem 0;
}

.BasicInfo span {
    font-weight: 600;
}