.ChatViewer main {
  display: flex;
  justify-content: center;  
  align-items: center;      
  height: 80vh;            
}

.message-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.message-box {
  max-width: 90vw;  /* up to 90% of viewport width */
  max-height: 70vh; /* height relative to viewport */
  width: 100%;
  overflow-y: auto;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-sizing: border-box;
}
  
  .message {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 18px;
    position: relative;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  
  .user-viewer .message.user {
    background-color: #007aff;
    color: white;
    align-self: flex-end;
  }
  
  .user-viewer .message.shelter {
    background-color: #e5e5ea;
    color: black;
    align-self: flex-start;
  }
  

  