.Description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ececec8f;
    border-bottom: 1px solid var(--light-gray);
    border-top: 1px solid var(--light-gray);
}

.Description .traits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 300px;
    flex-grow: 1;
}

.Description .about {
    flex-basis: 325px;
    flex-grow: 2;
}

.Description ul {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 0px) {
    .traits,
    .about {
        padding: 2rem;
    }

    .about {
        padding-top: 0;
        margin-left: 0;
    }
}

@media (min-width: 752px) {
    .Description .about {
        padding-top: 2rem;
    }
}

@media (min-width: 770px) {
    .Description .about {
        margin-left: 1rem;
    }
}

@media (min-width: 830px) {
    .about {
        padding: 2rem 6rem;
        padding-left: 0;
    }

    .traits {
        padding: 2rem 6rem;
        padding-right: 0;
    }
}

@media (max-width: 830px) {
    .Description ul {
        display: flex;
        flex-wrap: wrap;
    }
}


.Description ul {
    list-style: none;
    padding: 0;
}

.Description li {
    padding: .3rem 1rem;
    margin: .5rem;
    margin-left: 0;
    border: 2px solid var(--primary);
    width: fit-content;
    /* color: var(--primary); */
    font-weight: 600;
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
}