.Description {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #ececec8f;
    border-bottom: 2px solid var(--light-gray);
}

.Description .traits {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    padding: 2rem;
}

.Description ul {
    list-style: none;
    padding: 0;
}

.Description li {
    padding: .3rem 1rem;
    margin: .5rem;
    margin-left: 0;
    border: 2px solid var(--primary);
    width: fit-content;
    /* color: var(--primary); */
    font-weight: 600;
    border-radius: 20px;
    background-color: var(--primary);
    color: white;
}


.Description .about {
    width: 350px;
    padding: 2rem;
}

