.accountCard {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 500px;
    color: rgb(78, 78, 78);
    border: 1px solid rgb(160, 160, 160);
    border-radius: 10px;
    padding: 1rem;
    padding-bottom: 2rem;
    
}

.accountCard form {
    display: flex;
    flex-direction: column;
}

.accountCard select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("/public/downArrow.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: calc(100% - 8px) center;
    height: 2.7rem;
    min-width: 300px;
    margin: 1rem;
    margin-top: .2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
    font-size: 15px;
    color: rgb(78, 78, 78);
}

.accountCard input {
    height: 18px;
    min-width: 300px;
    margin: 1rem;
    margin-top: .2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
}

.accountCard textarea {
    height: 100px;
    min-width: 300px;
    margin: 1rem;
    margin-top: .2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
}

.accountCard label {
    margin: 0 1rem;
    font-size: 15px;
}

.accountCard h1 {
    text-align: center;
    color: black;
    font-size: 30px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1px;
}

.accountCard button {
    color: white;
    background-color: var(--primary);
    text-decoration: none;
    padding: .5rem 1.5rem;
    margin: 1rem;
    font-weight: 600;
    font-size: large;
    border: 2px solid var(--primary);
    border-radius: 20px;
}

.deleteAccountContainer {
    margin-top: 2rem;
    text-align: center;
}

.delete-button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c9302c;
}