.accountCard textarea {
    height: 100px;
    min-width: 300px;
    margin: 1rem;
    margin-top: .2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 160);
}


.deleteAccountContainer {
    margin-top: 2rem;
    text-align: center;
}

.accountCard .delete-button {
    background-color: black;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}



.accountCard .delete-button:hover {
    background-color: rgb(53, 52, 52);
    border: none;
}

