.PetInfo {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.PetInfo .topOfProfile {
    display: flex;
    flex-direction: column;
}

.PetInfo .infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 2px solid var(--light-gray);
    padding-bottom: 4rem;
}

.pet-image-container {
    width: 350px;
    height: 400px;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(231, 231, 231);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-bottom: 2rem;
    border-radius: 5px;
}

@media (max-width: 880px) {
    .infoColumn {
        margin-top: 2rem;
    }
}

.PetInfo img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.PetInfo h3 {
    font-weight: 600;
    font-size: 17px;
}

.bright-rectangle {
    align-self: center;
    text-align: center;
    font-size: 16px;
    background-color: var(--bright);
    color: white;
    text-decoration: none;
    width: 180px;
    padding: 10px 5px;
    font-weight: 600;
    border: 2px solid var(--bright);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.1s;
}

.PetInfo .bottomOfProfile {
    display: flex;
    flex-direction: column
}

.black-rectangle {
    align-self: flex-start;
    width: 120px;
    padding: 10px;
    font-weight: 600;
    border: 2px solid black;
    font-size: 16px;
    color: white;
    background-color: black;
    transition: all 0.1s;
    margin: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    
}

.black-rectangle:hover {
    background-color: rgb(53, 52, 52);
    border: 2px solid rgb(53, 52, 52);
}

.bright-rectangle:hover {
    background-color: #f36b6b;
    border: 2px solid #f36b6b;
}