.PetInfo {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.PetInfo .topOfProfile {
    display: flex;
    justify-content: center;
}

.PetInfo .infoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    border-bottom: 2px solid var(--light-gray);
    border-radius: 5px;
        border: 1px solid rgb(231, 231, 231);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 400px;
    margin-bottom: 4rem;
    overflow: hidden;
}

.pet-image-container {
    width: fit-content;
    height: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.infoColumn {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    background-color: white;
}


.PetInfo img {
    max-width: 340px;
    height: 400px;
    object-fit: cover;
}

.PetInfo h3 {
    font-weight: 600;
    font-size: 17px;
}

.bright-rectangle {
    align-self: center;
    text-align: center;
    font-size: 16px;
    background-color: var(--bright);
    color: white;
    text-decoration: none;
    width: 180px;
    padding: 10px 5px;
    font-weight: 600;
    border: 2px solid var(--bright);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1rem;
    transition: all 0.1s;
}

.PetInfo .bottomOfProfile {
    display: flex;
    flex-direction: column
}

#user-bottom-profile   {
    flex-direction: row;
}

#user-bottom-profile .Description {
    flex-grow: 1;
}

.black-rectangle {
    align-self: flex-start;
    width: 120px;
    padding: 10px;
    font-weight: 600;
    border: 2px solid black;
    font-size: 16px;
    color: white;
    background-color: black;
    transition: all 0.1s;
    margin: 3rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 5px;
    
}

.black-rectangle:hover {
    background-color: rgb(53, 52, 52);
    border: 2px solid rgb(53, 52, 52);
}

.bright-rectangle:hover {
    background-color: #f36b6b;
    border: 2px solid #f36b6b;
}

@media (max-width:706px) {
    .PetInfo .infoContainer {
        flex-direction: column;
        height: fit-content;
    }

    .PetInfo img {
        padding-top: 2rem;
        border-radius: 5px;
    }
}